<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type of prehistoric creature</label>
    <input type="text" id="creatureType" name="type">
    
    <label for="creatureImgUrl">What does it look like? (enter image url)</label>
    <input type="text" id="creatureImgUrl" name="img_url">

    <input type="submit" value="Add a prehistoric creature">
</form>